@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply min-h-screen font-sans text-white;
  background: linear-gradient(to bottom right, #95949e, #a8a8ac, #24243e);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 0 !important;  
}
html { font-size: clamp(13px, 1.05vw + 10px, 16px); }
@layer components {
  .input {
    @apply border border-gray-300 rounded-lg p-2 w-full focus:ring-2 focus:ring-blue-400;
  }
}
body::before {
  all: unset; 
}

/* Dark mode scrollbar */
.dark .custom-scrollbar {
  scrollbar-width: thin; 
  scrollbar-color: #403b5d #2a254a; 
}

.dark .custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: #2a254a !important;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #403b5d !important; 
  border-radius: 4px;
  border: 1px solid #2a254a;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4a4563 !important; 
}

/* Light Mode Scrollbar */
html:not(.dark) .custom-scrollbar {
  scrollbar-color: #60a5fa #e0f2fe; 
}

html:not(.dark) .custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

html:not(.dark) .custom-scrollbar::-webkit-scrollbar-track {
  background: #e0f2fe; 
}

html:not(.dark) .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #60a5fa; 
  border-radius: 4px;
  border: 1px solid #e0f2fe;
}

html:not(.dark) .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #3b82f6; 
}

